table {
	border: 1px solid silver;
}
td:hover {
	background-color:bisque;
	color:black;
}
tr, th {
	background-color: peachpuff;
	color: black;
}
tr, td {
	background-color: lemonchiffon;
	color: black;
}
